<main id="main-devinformation">
        
    <section class="card-info">
        <h2 class="titulos">Objetivos de la Aplicación</h2>
        <p>
            El objetivo de esta aplicación es simular una página de apuestas, promoviendo la diversión, 
            pero por encima, la responsabilidad que conllevan las apuestas, ya que estas pueden ser 
            peligrosas y dañinas en ciertos casos, pudiendo llegar a ser viciosas y excesivas.
        </p>
        <section class="linea-decorativa"></section>
    </section>

    <section class="card-info">
        <h2 class="titulos">Equipo de Desarrollo</h2>
        <p>
            Nuestro equipo, detrás de la página y su desarrollo, está conformado por un grupo de 
            3 estudiantes de la Universidad Diego Portales. Los cuales son:
        </p>
        <ul>
            <li>Benjamin Aguilera</li>
            <li>Vicente Hernandez</li>
            <li>Matías Marchant</li>
        </ul>
        <section class="linea-decorativa"></section>
    </section>

    <section class="card-info">
        <h2 class="titulos">Tecnologías Utilizadas</h2>
        <ul>
            <li>GitHub</li>
            <li>ChatGPT</li>
            <li>Google Gemini</li>
            <li>Visual Studio Code</li>
            <li>HTML y CSS</li>
            <li>AWS Amazon</li>
        </ul>
        <section class="linea-decorativa"></section>
    </section>

    <section class="card-info">
        <h2 class="titulos">Proyecto Académico</h2>
        <p>
            Esta página es un proyecto académico para el ramo "Desarrollo Web y Móvil", 
            con el fin de aprender sobre el desarrollo de una página web y su manejo en el servidor.
        </p>
        <section class="linea-decorativa"></section>
    </section>
</main>