<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{#if title}}{{title}} - Suertazo{{else}}Suertazo{{/if}}</title>
  <link rel="stylesheet" href="/css/estilos.css" />
</head>
<body>
  {{{body}}}
  <script src="/js/auth.js"></script>
  <script src="/js/transactions.js"></script>
  <script src="/js/profileLoader.js"></script>
</body>
</html>